body {
    background-color: rgb(35,35,35);
    color: antiquewhite;
    font-family: Arial, sans-serif;
    width: 80%;
    padding-top: 2%;
    margin: auto;
}
.container {
    box-shadow: 0 0 10px 1px black;
}

div p {
    line-height: 1.6;
}
div.form p {
    font-size: 15px;
}
#email {
    margin-left: 40px;
}
#firstName {
    margin-right: 8px;
}

form{
    margin: 3px;
}

.head-page {
    font-size: 50px;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 0;

}

.head-page p {
    font-style: italic;
    font-size: 12px;
}

.hero-unit {
    padding-bottom: 15px;
    background-color: #1a1a1a;
    font-size: 10px;
}


#lastName {
    margin-left: 3px;
}

/* Navbar and dropdown styles */
.navbar {
    background-color: #5a5a5a;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main-content {
    background-color: rgb(45,45,45);
    padding: 2em;
}

.main-content h2{
    font-size: 25px;
    padding-bottom: 1.5em;
}

.main-content a{
    color: orangered;
    text-decoration: none;
}

.main-content a:hover{
    text-decoration: underline;
}

.resume-content {
    background-color: rgb(45,45,45);
    padding: 16px 32px 32px;
}

.resume-content h2{
    font-size: 25px;
    text-align: center;
    padding-bottom: 8px;
    color: #f2f2f2;
}

.resume-content a{
    color: orangered;
    text-decoration: none;
}

.resume-content a:hover{
    color: orangered;
    text-decoration: underline;
}

#resume-download {
    text-align: center;
    padding-bottom: 16px;
}

.job-info p{
    font-weight: bold;
}

.job-info span{
    font-weight: normal;
}

.job-info ul {
    display: block;
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 1.5em;

}

li {
    padding-bottom: 5px;
}

.edu-info {
    margin-bottom: 1em;
}

.edu-info p{
    font-weight: bold;
}

.edu-info p:last-child {
    font-style: italic;
    font-weight: normal;
}

.edu-info span{
    font-weight: normal;
}

.skills-info {
    margin-bottom: 1em;
}

.skills-info p{
    font-weight: bold;
}

.skills-info span{
    font-weight: normal;
}



